<launch>
    <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="name" default="p_mpereira"/>

    <group ns="$(arg name)">
        <node pkg="rqt_robot_steering" type="rqt_robot_steering" name="teleop_rqt" output="screen">
            <param name="~default_topic" value="/$(arg name)/cmd_vel"/>
        </node>
    </group>

</launch>


