<launch>

    <param name="highlight_text_color" value="YELLOW" />

    <!-- PUBLISHERS -->
    <node name="publisherA" pkg="psr_aula9_ex_tp" type="publisher.py" output="screen">
        <param name="frequency" value="1"/>
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="publisherB" pkg="psr_aula9_ex_tp" type="publisher.py" output="screen">
        <param name="frequency" value="3"/>
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="publisherC" pkg="psr_aula9_ex_tp" type="publisher.py" output="screen">
        <param name="frequency" value="5"/>
        <remap from="chatter" to="dog2"/>
    </node>

    <!-- SUBSCRIBERS -->
    <node name="subscriberAB1" pkg="psr_aula9_ex_tp" type="subscriber.py" output="screen">
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="subscriberAB2" pkg="psr_aula9_ex_tp" type="subscriber.py" output="screen">
        <remap from="chatter" to="dog1"/>
    </node>

    <node name="subscriberC" pkg="psr_aula9_ex_tp" type="subscriber.py" output="screen">
        <remap from="chatter" to="dog2"/>
    </node>

</launch>